{% extends 'base.html' %}
{% block content %}
<div class='homepage-content'>
  <div class='homepage-banner'>
    <h1>Contact</h1>
    <hr><br /><br />
   <label id="Label1">Contact me with this form</label><br />
   <label id="Label2">Name:</label><input name="Text1" type="text" /><br /><br />
   <label id="Label3">Your Contact</label><input name="Text2" type="text" /><br /><br />
   <label id="Label4">Your message</label><textarea name="TextArea1" cols="20" rows="2"></textarea>
  </div>
</div>
{% endblock %}